html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    background-image: url('/images/fondo.jpg');
    background-color: #e3f2fd;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    background-color: rgba(255, 255, 255, 0.9) !important;
    backdrop-filter: blur(5px); 
}

.form-control {
    background-color: rgba(255, 255, 255, 0.8) !important;
}